.wrapper {
    min-height: 100vh;
    color: #000;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    background-color: #F1E8E6;
    /* display: -ms-grid; */
    display: grid;
    place-items: center;
  }
  
  .container {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 17px 34px -20px #f55951;
            box-shadow: 0px 17px 34px -20px #f55951;
  }
  
  .title {
    font-size: 1.6rem;
    font-weight: 700;
    
  }
  
  .text {
    font-size: 1rem;
    margin-bottom: 0.8em;
  }
  
  .container {
    max-width: 400px;
    overflow: hidden;
    padding: 0;
  }
  
  .img {
    width: 100%;
    height: auto;
    border-radius: 1em 1em 0 0;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .img__container {
    height: 200px;
    overflow: hidden;
    margin-bottom: 1.5em;
  }
  
  .title {
    margin-bottom: 0.9em;
  }
  
  .subtitle {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: 700;
  }
  
  .content {
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 0 2em;
    margin-bottom: 1.8em;
  }
  
  .user {
    padding: 0.5em 0 0.5em 1.5em;
    line-height: 3;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }
  
  
  
  
  .subscribe {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #f55951;
    padding: 0.9em 0;
    display: inline-block;
    border: none;
    border-radius: 0.5em;
    width: 100%;
    margin-bottom: 1.3em;
  }
  
  .text {
    font-size: 0.9rem;
    width: 90%;
    text-align: center;
  }
  /* index.php css */
  
  *
  {
      
      margin: 0;
      padding: 0;
  }
  
  
  .row
  {
      /* max-width: 1040px; */
      margin: 0 auto;
  }
  
  body
  {
      font-family: tahoma;
  }
  
  .hero
  {
      position:absolute;
      width: 1140px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  
  header
  {
      background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
      height: 100vh;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
  }
  h2  
  {
      color:white;
      font-size: 60px;
  }
  
  .main-nav
  {
      list-style: none;
      float: left;
      margin-right: -150px;
      margin-top: 30px;
  }
  
  .main-nav li
  {
      display: inline-block;
      margin-left: 40px;
      
  }
  
  .main-nav li a
  {
      color:white;
      text-decoration: none;
      font-size: 90%;
      font-weight: bold;
  }
  
  .main-nav li a:hover
  {
      color: #e67e22;
      border-bottom: 2px solid #e67e22;
      transition: all 0.5s ease-in;
      padding: 15px 0;
  }
  
  .logo img
  {
      float:left;
      height: 100px;
      margin-top: 30px;
      margin-left: -150px;
      
  }
  
  .btn
  {
      border: 1px solid #e67e22;
      padding: 10px 30px;
      color: #e67e22;
      text-decoration: none;
      border-radius: 12px;
      margin-right: 15px;
  }
  
  .button-awesome
  {
      margin-top: 40px;
  
  }
  
  .btn-half:hover
  {
      background-color: #e67e22;
      color: white;
      transition: all 0.5s ease-in;
  }
  
  .btn-full:hover
  {
      background-color: #e67e22;
      color: white;
      transition: all 0.5s ease-in;
  }
  /* menu.php */
  
  
  
  
  